* {
  color: #f3f3f3;
  font-family: Inter, sans-serif;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background: #141414;
  display: flex;
  flex-flow: column;
}

nav {
  margin: 10px;
}

hr {
  background-color: #141414;
  width: 100%;
}

main {
  display: flex;
  flex-flow: row;
  flex-grow: 2;
  height: 70%;
}

footer {
  flex: auto;
  margin: 10px;
}

.question {
  display: flex;
  flex-flow: column;
  flex: auto;
  padding: 30px;
}

.column {
  display: flex;
  flex-flow: column;
  flex: auto;
}

.tile {
  flex: auto;
  margin: 10px;
  text-align: center;
  background-color: #141414;
  border: 2px solid #f3f3f3;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tile-exhausted {
  flex: auto;
  margin: 10px;
  text-align: center;
  background-color: #000;
  border: 2px solid #e1e1e1;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tile:hover {
  background: #1b1b1b;
}

.button-s {
  align-items: center;
  background-color: #141414;
  border: 2px solid #f3f3f3;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-s:after {
  background-color: #f3f3f3;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-s:hover:after {
  transform: translate(0, 0);
}

.button-s:active {
  background-color: #1b1b1b;
  outline: 0;
}

.button-s:hover {
  outline: 0;
}

@media (min-width: 768px) {
  button {
    padding: 0 40px;
  }
}
#scoreboard {
  display: flex;
  flex-flow: row;
  flex: auto;
  column-gap: 20px;
}

#scoreboard-controls {
  display: flex;
  flex-flow: row;
  width: 15%;
}

#scoreboard-addplayer {
  display: flex;
  flex-flow: column;
  row-gap: 20px;
  justify-content: space-between;
  padding: 25px;
  border-radius: 8px;
  border: 2px solid #f3f3f3;
  width: 164px;
}

input {
  background-color: #f3f3f3;
  color: #141414;
  font-size: 1.25rem;
  border-radius: 8px;
  align-self: center;
  width: 75%;
}

.scorebox {
  width: 96px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../public/styles.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAeA;EACE,OAXgB;EAYhB;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA,YA9Bc;EA+Bd;EACA;;;AAGF;EACE;;;AAGF;EACE,kBAxCc;EAyCd;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA,kBAzEc;EA0Ed;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA,kBAnGM;EAoGN;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE,YApHY;;;AAuHd;EACE;EACA,kBA3Hc;EA4Hd;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE,kBA9IgB;EA+IhB;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE,kBAlKY;EAmKZ;;;AAGF;EACE;;;AAGF;EACE;IACE;;;AAIJ;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE,kBAxMgB;EAyMhB,OA5Mc;EA6Md;EACA;EACA;EACA;;;AAGF;EACE%22,%22file%22:%22styles.css%22%7D */
