body {
  margin: 0px;
}

.title-bar {
  text-align: center;
}

#title {
  text-align: center;
  color: #404992;
  font-family: verdana;
}

.center-container {
  text-align: center;
}

#center {
  display: inline-block;
}
