$black: #000;
$white: #fff;
$chinese-black: #141414;
$chinese-white: #e1e1e1;
$eerie-black: #1b1b1b;
$antiflash-white: #f3f3f3;

$background-dark: $black;
$background-med: $chinese-black;
$background-light: $eerie-black;

$foreground-dark: $chinese-white;
$foreground-med: $antiflash-white;
$foreground-light: $white;

* {
  color: $foreground-med;
  font-family: Inter,sans-serif;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background: $background-med;
  display: flex;
  flex-flow: column;
}

nav {
  display: flex;
  flex-flow: row;
}

#header-filler {
  width: 33%;
}

#title-container {
  width: 33%;
}

#file-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 33%;
}

#file-input-label {
  color: $foreground-med;
  font-size: 1rem;
  border-radius: 8px;
  padding: 3px;
  border: 2px solid $foreground-med;
  margin-left: auto;
  margin-right: 0;
}

input[type=file] {
  display: none;
}

hr {
  background-color: $background-med;
  width: 100%;
}

main {
  display: flex;
  flex-flow: row;
  flex-grow: 2;
  height: 70%;
}

footer {
  flex: auto;
  margin: 10px;
}

#back-button {
  position: absolute;
  left: 1%;
  top: 10%;
}

#value-notification {
  position: absolute;
  left: 1%;
  bottom: 20%;
  font-size: 2rem;
  font-weight: 900;
}

#question-multiplier {
  position: absolute;
  left: 1%;
  top: 25%;
}

.question-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: auto;
}

.question {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 50%;
  padding: 5px;
}

.answer {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 25%;
  width: 50%;
  padding: 5px;
}

#question-text {
  font-size: 3rem;
  flex: auto;
}

#question-audio {
  flex: auto;
}

#question-video {
  width: auto;
  height: auto;
}

#question-audio-text {
  font-size: 1rem;
}

#question-image {
  width: auto;
  height: auto;
  max-height: 100%;
}

.blurred {
  filter: blur(8px);
}

.column {
  display: flex;
  flex-flow: column;
  flex: auto;
}

.tile {
  flex: auto;
  margin: 10px;
  text-align: center;
  background-color: $background-med;
  border: 2px solid $foreground-med;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation
}

.tile-answered {
  flex: auto;
  margin: 10px;
  text-align: center;
  background-color: $background-dark;
  border: 2px solid $foreground-dark;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation
}

.tile:hover {
  background: $background-light;
}

.button-s {
  align-items: center;
  background-color: $background-med;
  border: 2px solid $foreground-med;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation
}

.button-s:after {
  background-color: $foreground-med;;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-s:hover:after {
  transform: translate(0, 0);
}

.button-s:active {
  background-color: $background-light;
  outline: 0;
}

.button-s:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-s {
    padding: 0 40px;
  }
}

#scoreboard {
  display: flex;
  flex-flow: row;
  flex: auto;
  column-gap: 20px;
}

#scoreboard-controls {
  display: flex;
  flex-flow: row;
  width: 15%;
}

#scoreboard-addplayer {
  display: flex;
  flex-flow: column;
  row-gap: 20px;
  justify-content: space-between;
  padding: 25px;
  border-radius: 8px;
  border: 2px solid $foreground-med;
  width: 164px;
}

input[type=number],input[type=text] {
  background-color: $foreground-med;
  color: $background-med;
  font-size: 1.25rem;
  border-radius: 8px;
  align-self: center;
  width: 75%;
}

.player-scores {
  display: flex;
  flex-flow: row;
}

//.scorebox {
//  width: 96px;
//}

.scorebox-buttons {
  text-align: center;
}

.scorebox-button {
  font-size: 1.5rem;
  font-weight: 900;
  background-color: $background-med;
  color: $foreground-med;
  border: 2px solid $foreground-med;
  border-radius: 8px;
  width: 34px;
}

.timer {
  font-size: 1.5rem;
  display: flex;
  flex-flow: column;
  width: 192px;
  padding: 25px;
  border-radius: 8px;
  border: 2px solid $foreground-med;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.timer-controls {
  display: flex;
  flex-flow: row;
  flex: auto;
}

.timer-add-time {
  font-size: 0.9rem;
  background-color: $background-med;
  color: $foreground-med;
  border: 2px solid $foreground-med;
  border-radius: 8px;
  flex: auto;
}

.timer-start-stop {
  background-color: $background-med;
  color: $foreground-med;
  border: 2px solid $foreground-med;
  border-radius: 8px;
  flex: auto;
}

.popup {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 900;
  z-index: 1000;
  background-color: $background-med;
  border: 2px solid $foreground-med;
  border-radius: 8px;
  width: 700px;
  height: 500px;
}




